[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
flake8 = "*"
requests-mock = "*"

[packages]
lxml = "*"
sickle = "*"
archivessnake = "*"
click = "*"

[requires]
python_version = "3.7"
