[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
requests-mock = "*"
coveralls = "*"
coverage = "*"
pytest-cov = "*"

[packages]
archivessnake = "*"
click = "*"
jsonpatch = "*"
jsonpointer = "*"
structlog = "*"

[requires]
python_version = "3.8"

[scripts]
asaps = "python -c \"from asaps.cli import main; main()\""
